@font-face {
    font-family: "ChristmasFont";
    src: url("allura.ttf");
}

body {
    background-image: url(b.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: darken;
    font-family: "ChristmasFont";
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

button {
    font-family: "ChristmasFont";
    font-size: 1.5em;
    padding: 0.4em;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
    border-width: 2px;
    border-color: white;
    border-radius: 8px;
    color: white;
    background-color: red;
}

div {
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 50%;
}


ul {
    display: inline-block;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
}

h1 {
    color: white;
    font-size: 2.6em;
    margin-bottom: 16px;
}

h2 {
    font-size: 2.0em;
    margin-top: 2em;
    margin-bottom: 0px;
}

h3 {
    font-size: 2.0em;
    margin-top: 1.2em;
}

p, li {
    font-size: 1.8em;
}